body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(./images/c-darkleavesbackground.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(20, 75, 52);
    font-weight: 500;
 }

ul {
    list-style: none;
    margin-right: 20px;
    padding: 0px;
    gap: 20px;
    display: flex;
    flex-direction: row;
}


button {
    background-color: rgb(0, 66, 22);
    padding: 12px;
    margin-top: 6px;
    margin-right: 10px;
    align-self:flex-end;
    border-style: outset 2;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: rgb(221, 255, 221);
    font-weight: bold;
    font-size: 20px;
}

img {
    border: 1px solid rgb(221, 255, 221);
    border-radius: 8px;
}

.logo img {
    border: none;
}


.header, .content1, .content2,
 .content3text, .link, .footer,
 .leftinfo, .profiles, .froad,
 .content3text, .box, .boxleft {
    display: flex;
    padding: 4px;
    gap: 6px;
    align-items: center;
}

.content1, .content2, .content3text {
    flex-grow: 1;
}

.header, .link, .footer {
    flex: 0, 0, auto;
    flex-direction: row;
}

.header, .footer {
    max-height: 100px;
    background-color: rgb(85, 165, 85);
}

.header {
    justify-content: space-between;
}

.content1 {
    flex-grow: 1, 1, 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 16px;
    padding-right: 20px;
    background-color: rgb(85, 165, 85);
    border-bottom: 5px ridge rgb(20, 75, 52);

}

.leftinfo {
    flex-direction: column;
    max-width: 500px;
    min-width: 200px;
    max-height: 400px;
    padding-left: 20px;
    align-items: flex-start;
    flex: 1, 0, auto;
}

.title1 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(221, 255, 221);
    text-align: left;
}

.blurb {
    font-size: 24px;
    color: rgb(221, 255, 221);
    word-wrap: normal;
}

.content2 {
    background-color: rgb(221, 255, 221);
    color: rgb(2, 80, 2);
    flex-direction: column;
    padding: 8px;
    border-bottom: 5px ridge rgb(20, 75, 52);
}

.title2 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(2, 80, 2);
    text-align: center;
    padding: 16px;
}

.profiles {
    flex-direction: row;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.froad {
   flex-direction: column;
   font-size: 18px;
}

.content3text {
    background-color: transparent;
    color: rgb(221, 255, 221);
    flex-direction: column;
    align-self: center;
    font-size: 24px;
    margin: 60px;
    max-width: 500px;
}
.quote {
    text-align: justify;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.signature {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-style: italic;
    text-align: right;
}

.link {
    background-color:  rgb(221, 255, 221);
    justify-content: center;
    padding: 80px;
}

.box {
    background-color: rgb(85, 165, 85);
    max-width: 900px;
    padding: 30px;
    flex-direction: column;
    border-radius: 8px;
    border: 3px ridge rgb(20, 75, 52);
}

.boxleft {
    flex-direction: column;
}

.footer {
    justify-content: center;
    color: rgb(221, 255, 221);
    font-weight: bold;
    font-size: 16px;
    padding: 16px;
    border-top: 5px ridge rgb(20, 75, 52);
}